<section data-ng-controller="ReviewsController">
    <div class="page-header">
        <h1>Reviews</h1>
    </div>
    <div class="list-group">
        <div class="review" data-ng-repeat="review in reviews">
            <h3>
                <div class="row">
                    <div class="col-md-4 text-center" data-ng-bind="review.user.displayName"></div>
                    <div class="col-md-4 text-center" data-ng-bind="building"></div>
                    <div class="col-md-4 text-center">
                        <div class="glyphicon glyphicon-star" style="margin-right: 5px" ng-repeat="i in trackFull(review.overallexp) track by $index"></div>
                        
                        <div class="glyphicon glyphicon-star-empty" style="margin-right: 9px; margin-left:-4px" ng-repeat="i in trackEmpty(review.overallexp) track by $index"></div>
                    </div>
                </div>
                <div class="fa fa-quote-left" ng-if="review.description != ''"></div>
                <div class="row">
                    <div class="headline" data-ng-bind="review.headline"></div>
                </div>
                <div class="row">
                    <div class="description" ng-model="description" data-ng-bind="review.description"></div>
                </div>
                <div class="fa fa-quote-right" ng-if="review.description != ''"></div>
                
                <!-- Other indicators -->
                <div class="row" ng-if="review.foodquality != '0'">
                    <div class="col-md-6">Food Quality</div>
                    <div class="col-md-6">
                        <div class="glyphicon glyphicon-star" style="margin-right: 5px" ng-repeat="i in trackFull(review.foodquality) track by $index"></div>
                        <div class="glyphicon glyphicon-star-empty" style="margin-right: 9px; margin-left:-4px" ng-repeat="i in trackEmpty(review.foodquality) track by $index"></div>
                    </div>
                </div>
                <div class="row" ng-if="review.don != '0'">
                    <div class="col-md-6">Don</div>
                    <div class="col-md-6">
                        <div class="glyphicon glyphicon-star" style="margin-right: 5px" ng-repeat="i in trackFull(review.don) track by $index"></div>
                        <div class="glyphicon glyphicon-star-empty" style="margin-right: 9px; margin-left:-4px" ng-repeat="i in trackEmpty(review.don) track by $index"></div>
                    </div>
                </div>
                <div class="row" ng-if="review.convinience != '0'">
                    <div class="col-md-6">Convinience</div>
                    <div class="col-md-6">
                        <div class="glyphicon glyphicon-star" style="margin-right: 5px" ng-repeat="i in trackFull(review.convinience) track by $index"></div>
                        <div class="glyphicon glyphicon-star-empty" style="margin-right: 9px; margin-left:-4px" ng-repeat="i in trackEmpty(review.convinience) track by $index"></div>
                    </div>
                </div>
                <div id="row">
                    <div class="col-md-6 row">
                        <div class="col-md-6 agree-parent">
                            <a class="btn btn-light btn-lg agree" ng-click="agree(review._id)">
                                <div class="fa fa-thumbs-up"></div>     I agree
                            </a>
                        </div>
                        <div class="col-md-6 disagree-parent">
                            <a class="btn btn-light btn-lg disagree" ng-click="disagree(review._id)">
                                <div class="fa fa-thumbs-down"></div>       I disagree
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <textarea placeholder="Your Thoughts..." class="thoughts"></textarea>
                    </div>
                </div>
            </h3>
            <div class="row date">
                <div class="col-md-6">
                    <div ng-show="review.agrees.length == '0' && review.disagrees.length == '0'">
                        Nobody agrees or disagrees yet.
                    </div>
                    <div ng-hide="review.agrees.length == '0' && review.disagrees.length == '0'">
                        <div data-ng-bind="review.agrees.length"></div> people agree
                        <div data-ng-bind="review.disagrees.length"></div> people disagree
                    </div>
                    Created on <span data-ng-bind="review.created | date:'medium'"></span>
                </div>
                <a class="thoughts-control" ng-click="show">Show thoughts</a>
                <div class="col-md-6 thought-area" ng-show="show">Hello</div>
                
            </div>
        </div>
        <a data-ng-repeat="review in reviews" data-ng-href="#!/reviews/{{review._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="review.created | date:'medium'"></span>
				by
				<span data-ng-bind="review.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="review.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!reviews.$resolved || reviews.length">
    	No Reviews yet, why don't you <a href="/#!/reviews/create">create one</a>?
    </div>
</section>