<section data-ng-controller="ReviewsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Reviews</h1>
    </div>
    <div class="list-group">
        <div class="review" data-ng-repeat="review in reviews">
            <h3>
                <div class="row">
                    <div class="col-md-4" data-ng-bind="review.user.displayName"></div>
                    <div class="col-md-4" data-ng-bind=""></div>
                    <div class="col-md-4">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="headline"></div>
                </div>
                <div class="row">
                    <div id="description"></div>
                </div>
            </h3>
            <span data-ng-bind="review.created | date:'medium'"></span>
        </div>
        <a data-ng-repeat="review in reviews" data-ng-href="#!/reviews/{{review._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="review.created | date:'medium'"></span>
				by
				<span data-ng-bind="review.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="review.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!reviews.$resolved || reviews.length">
    	No Reviews yet, why don't you <a href="/#!/reviews/create">create one</a>?
    </div>
</section>