<section class="row content bg chestnut" data-ng-controller="ReviewsController">
    <leaflet style="height: 300px; width: 300px"></leaflet>
    <!-- Information -->
    <div class="main contianer map-main" style="background-color: rgba(255, 255, 255, 0.7); opacity: 1">
        <h2 class="text-center">Chestnut Residence</h2>
        <div class="row container" style="width: 100%">
            <div class="col-md-6 details">
                <span class="glyphicon glyphicon-phone-alt"></span>   
                Front Desk: 416-977-0707<br>
                
                <!-- Phone number -->
                <span class="glyphicon glyphicon-phone-alt"></span>  
                Residence office: 416-585-3160<br>
                
                <!-- Email -->
                <span class="glyphicon glyphicon-envelope"></span>   
                <a href="mailto:chestnutresidence@utoronto.ca">chestnutresidence@utoronto.ca</a><br>
                
                <!-- Address -->
                <div class="glyphicon glyphicon-home"></div>
                <h5>89 Chestnut Street,</h5>
                <h5>Toronto, ON</h5>
                <h5>M5G 1R1</h5>
                <br>
                <!-- Average ratings -->
                Food Quality     
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <br>
                
                Convinience       
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <br>
                
                Overall Experience   
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <br>
            </div>
            <!-- MAP here -->
            <div class="col-md-6">
                Can't see anything here? Reload the page
                <div id="map-canvas"></div>
            </div>
        </div>
    </div>
    
    <!-- Reviews -->
    <div class="main container" style="padding-top: 0%">
        <div id="tabbar" class="row">
            <div class="tab col-md-6 text-center">
                <a class="btn btn-lg" id="view">View all Reviews</a>
            </div>
            <div class="tab col-md-6 text-center">
                <a class="btn btn-lg" id="write">Write a Review</a>
            </div>
        </div>
        <div id="writereview">
            <div data-ng-include="'modules/reviews/views/create-review.client.view.html'"></div>
        </div>
        <div id="preview">
            <h3>Heres how your review will look like</h3>
            <div id="previewcontent" class="container">
                <div class="name row">
                    <h3>
                        {{ authentication.user.displayName }}
                        <div class="glyphicon glyphicon-star-empty"></div>
                        <div class="glyphicon glyphicon-star-empty"></div>
                        <div class="glyphicon glyphicon-star-empty"></div>
                        <div class="glyphicon glyphicon-star-empty"></div>
                        <div class="glyphicon glyphicon-star-empty"></div>
                    </h3>
                </div>
                <div class="row" id="headline"></div>
                <div id="stars"></div>
            </div>
            
            <div class="row container edit-btn text-center">
                <div class="col-md-12">
                    <a class="btn btn-lg btn-dark" id="edit"><span class="glyphicon glyphicon-triangle-left"></span>  Edit</a>
                </div>
            </div>
            <div class="row container edit-btn text-center">
                <div class="col-md-12">
                    <a class="btn btn-lg btn-dark" id="perfect">Perfect!  <span class="glyphicon glyphicon-triangle-right"></span></a>
                </div>
            </div>
        </div>
        <!--
        -->
        
        <div id="seereviews">
            <div data-ng-include="'modules/reviews/views/list-reviews.client.view.html'"></div>
        </div>
    </div>
</section>