<section class="row content bg" data-ng-controller="AuthenticationController">
    <div class="main main-fix" style="margin-top: 3%">
	   <h3 class="col-md-12 text-center">Sign in with your account</h3>
        
        <div class="row">
            <div class="col-md-6">
                <!-- Sign up form goes here -->
                <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
                    </div>
                    <div class="text-center form-group">
                        <a class="btn btn-lg btn-dark">Sign in</a>&nbsp; or&nbsp;
                        <a href="/#!/signup">Sign up</a>
                    </div>
                    <div class="forgot-password">
                        <a href="/#!/password/forgot">Forgot your password?</a>
                    </div>
                    <div data-ng-show="error" class="text-center text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
                </form>
            </div>
            <div class="col-md-6">
                <!-- Facebook sign in -->
                <a href="/auth/facebook" class="btn btn-lg btn-dark" style="background-color: #425F9C; margin: 2%">
                    <span class="fa fa-facebook" style="margin-right: 5%"></span>
                    Sign in with Facebook
                </a>
            </div>
        </div>
    </div>
</section>