@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}
.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}
@media(max-width: 530px){
    div.main.main-fix {
        padding-left: 15% !important;
        padding-right: 15% !important;
        padding-top: 5%;
    }
}
div.main.main-fix {
    padding-left: 5%;
    padding-right: 5%;
}